body, html{
	width:100%;
	height:100%;
	font-family: 'Roboto', sans-serif;
	margin:0 !important;
}

.container{
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	.society-container{
		height:20vw;
		width:95%;
		position:relative;
		overflow:hidden;
		.icon,.text{
			box-sizing:border-box;
			height:100%;
		}
		.icon{
			position:absolute;
			display:flex;
			align-items:center;
			justify-content:center;
			width:20vw;
			font-size:40vh;
			background-color:#1DA1F2;
			color:white;
			right:0%;
			animation: pop-in 200ms 1000ms cubic-bezier(0.76,-0.1, 0.59, 1.46), slide-icon-left 600ms calc(1200ms + 500ms) cubic-bezier(0.73,-0.11, 0.23, 0.83), slide-icon-right 600ms 6900ms cubic-bezier(0.19, 1, 0.22, 1), pop-out 600ms 7600ms cubic-bezier(0.19, 1, 0.22, 1);
			animation-fill-mode:forwards;
			opacity:0;
		}
		.text{
			position:absolute;
			right:calc(0% - 30px);
			padding:15px;
			display:flex;
			align-items:center;
			justify-content:flex-start;
			width:0vw;
			font-size:30vh;
			letter-spacing:2px;
			overflow:hidden;
			animation:expand-text 600ms 1700ms cubic-bezier(0.73,-0.11, 0.23, 0.83), shrink-text 600ms 6900ms cubic-bezier(0.19, 1, 0.22, 1);
			animation-fill-mode:forwards;	
		}
	}
}

@keyframes pop-in {
0% { opacity: 0; transform: scale(0); }
100% { opacity: 1; transform: scale(1); }
}

@keyframes pop-out {
0% { opacity: 1; transform: scale(1); }
100% { opacity: 0; transform: scale(0); }
}

@keyframes slide-icon-left{
	0%{
		right:0%;
	}
	100%{
		right:79%;
	}
}

@keyframes slide-icon-right{
	0%{
		right:79%;
	}
	100%{
		right:0%;
	}
}

@keyframes expand-text{
	0% { width: 0; }
	100% {width: 80vw; }
}

@keyframes shrink-text{
	0% {
		width:80vw;
	}
	100%{
		width:0;
	}
}

